body{
  background-color:lightblue;
  font-size:12px;
}
h1{
  text-align:center;
  font-weight:200;
  text-transform:uppercase;
  font-family: Sans-Serif;
  letter-spacing:5px;
}
.list-item{
  display:flex;
  margin:0 auto;
  align-items:flex-end;
  justify-content:center;

}
.list-item > li {
  min-width:100px;
}
#app{
  background-color:lightyellow;
  width:200px;
  margin:0 auto;
  padding:5px;
  border-radius:5px;
}
button {
  cursor: pointer;
}
.addTask{
  padding:5px;
}

a{
  padding: 0 5px;
  margin:0 3px;
  border:0.1px solid black;
  cursor: pointer;
}
.active{
  background-color:gray;
}
.in-active{
  background-color:white;
}
